# Node# Node

node_modules/node_modules/

npm-debug.lognpm-debug.log

yarn-error.logyarn-error.log

package-lock.jsonpackage-lock.json

yarn.lockyarn.lock



# Android# Android

/android/build//android/build/

/android/app/build//android/app/build/

/android/.gradle//android/.gradle/

/android/app/src/main/assets//android/app/src/main/assets/

*.apk*.apk

*.aab*.aab



# iOS# iOS

/ios/build//ios/build/

/ios/Pods//ios/Pods/

*.ipa*.ipa



# Others# Others

.DS_Store.DS_Store

coverage/coverage/

.vscode/.vscode/

.idea/.idea/

*.iml*.iml

*.hprof*.hprof

*.swp*.swp

*.swo*.swo

node_modules
